* {
    margin: .2rem;
}

body {
    font-family: 'Poppins', serif;
}

h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    margin: 1rem 0 0 1rem;
}

.header h1 {
    margin-top: 3rem;
}

.header .introduction {
    display: flex;
    align-items: center;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    scroll-snap-align: start;
}

.divider {
    display: block;
    align-self: center;
    padding: .5rem;
    width: 85%;
    border-top-color: rgba(0, 0, 0, .12);
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
}


.content .carrousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 1rem;
    overflow-x: auto;

    /*scroll-snap-type: y mandatory;*/
}

.carrousel .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #000;
    border-radius: .5rem;
    margin-left: 2rem;
    height: 90%;
    width: 35%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    transition: linear .2s;
}

.carrousel .item:hover {
    box-shadow: 0 4px 6px 4px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.2rem;
    }

    .header {
        height: 50vh;
    }

    .content {
        height: 40vh;
    }
}


@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }


    .header {
        height: 50vh;
    }

    .header .introduction {
        width: 80%;
    }

    .carrousel .item {
        width: 25%;
    }
}
